<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>spoo_icon.ico" />
    <!--<title><%= htmlWebpackPlugin.options.title %></title>-->
    <title>Piles&Cards</title>
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/objy-org/objy/dist/browser.js"></script>-->
    <script src="<%= BASE_URL %>js/vendor/browser-temp.js"></script>
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/objy-catalog@0.0.49/mappers/storage/neDBMapper.browser.js"></script>-->
    <script
      type="text/javascript"
      src="<%= BASE_URL %>js/vendor/neDBMapper-temp.js"
    ></script>
    <!--<script type="text/javascript" src="<%= BASE_URL %>js/vendor/spoo-client.js"></script>-->
    <script
      type="text/javascript"
      src="<%= BASE_URL %>js/vendor/objectId.js"
    ></script>
    <script type="text/javascript" src="<%= BASE_URL %>js/cache.js"></script>
    <script
      type="text/javascript"
      src="<%= BASE_URL %>ace-builds-1.1.4/src-min-noconflict/ace.js"
    ></script>
    <script
      type="text/javascript"
      src="<%= BASE_URL %>ace-builds-1.1.4/src-min-noconflict/ext-language_tools.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.0.0/jspdf.umd.min.js"></script>
    <script src="<%= BASE_URL %>js/diakonie/base64Variables.js"></script>
    <script src="<%= BASE_URL %>js/vendor/jspdf.customfonts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="<%= BASE_URL %>js/global.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>css/vendor/general.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>css/vendor/elements.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>css/vendor/layout.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>css/vendor/transformer.css"
    />
  </head>
  <body style="min-height: 100vh; height: 100%">
    <noscript>
      <!--<strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>-->
      <strong>Piles&Cards</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="<%= BASE_URL %>js/service-worker.js"></script>
    <script src="<%= BASE_URL %>js/app-aliases.js"></script>
    <script src="<%= BASE_URL %>js/templates.js"></script>
  </body>
</html>
